version: "3.8"

services:
  db:
    image: postgres:15-alpine
    container_name: psp_simulator_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: payment_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d payment_db"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: always

  server:
    build: .
    container_name: payment_service_api
    environment:
      DATABASE_URL: postgres://user:password@db:5432/payment_db
      SERVER_URL: http://0.0.0.0:3000
      BASE_URL: http://localhost:3000
      PORT: 3000
      HOST: localhost
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
    restart: always

volumes:
  pgdata:
